{% block content %}

<div class="lng_msg span-18 last prepend-2">

    <form action="." method="get" id="logger_ng_search">
        {% csrf_token %}
        <input id="logger_ng_search_box" name="logger_ng_search_box" type="text" value="{{ request.GET.logger_ng_search_box }}" />
        <input type="submit" value="{% trans 'Filter messages' %}" />
    </form>
    
    {% for msg in msgs.object_list %}

        <div class="details">
            <span class="date">{{ msg.date|humanize_time_delta }}</span>, 
            {% if msg.is_incoming %} {% trans "from" %} {% else %} {% trans "to" %} {% endif %} 
            <span class="from">{{ msg.ident_string }}</span>
        </div>
        <div class="msg {% if msg.is_incoming %}text{% else %}response{% endif %}">
            {% if msg.text %}{{ msg.text }}{% else %}[Empty message]{% endif %}
        </div>
        
        {% for response in msg.response.all %}
            <div class="msg response">
            <span class="date">{{ response.date|humanize_time_delta }}:</span>
            {% if response.text %}{{ response.text }}{% else %}[Empty message]{% endif %}
            </div>
        {% endfor %}
        
        {% if perms.logger_ng.respond and msg.is_incoming %}
            <div class="respond"><form action="." method="post">
                {% csrf_token %}
                <input class="resp_box" name="respond_{{ msg.id }}" type="text" maxlength="140"/>
                <input type="submit" value='{% trans "Respond" %}' />
            </form></div>    
        {% endif %}
        
    {% empty %}
        <p>{% trans "No message found" %}<p>    
    {% endfor %}

</div>

<div class="lng_page span-18 last prepend-2">
<span>
        {% if msgs.has_previous %}
            <a href="?page={{ msgs.previous_page_number }}&amp;logger_ng_search_box={{ request.GET.logger_ng_search_box }}">&lt; {% trans "Previous" %} </a>
        {% endif %}
</span>
            {% blocktrans with msgs.numbe as number and msgs.paginator.num_pages as num_pages %}
                Page {{ number }} of {{ num_pages }}
            {% endblocktrans %}
<span>
        {% if msgs.has_next %}
            <a href="?page={{ msgs.next_page_number }}&amp;logger_ng_search_box={{ request.GET.logger_ng_search_box }}"> {% trans "Next" %} &gt;</a>
        {% endif %}
</span>
</div>

{% endblock %}
