{% extends base_template %}
{% block title %}Message Log{% endblock %}

{% block javascripts %}
{% endblock %}

{% load logger_ng_format %}

{% block page_stylesheets %}
    <link rel="stylesheet" href="/static/logger_ng/css/blueprint/screen.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/logger_ng/css/style.css" />
{% endblock %}

{% block content %}

<div class="lng_msg span-18 last prepend-2">

    <form action="/logger_ng" method="get" id="logger_ng_search">
        <input id="logger_ng_search_box" name="logger_ng_search_box" type="text" value="{{ request.GET.logger_ng_search_box }}" />
        <input type="submit" value="Filter messages" />
    </form>
    
    {% for msg in msgs.object_list %}

        <div class="details">
            <span class="date">{{ msg.date|humanize_time_delta }}</span> from 
            <span class="from">{{ msg.ident_string }}</span>
        </div>
        <div class="msg {% if msg.is_incoming %}text{% else %}response{% endif %}">
            {{ msg.text }}
        </div>
        
        {% for response in msg.response.all %}
            <div class="msg response">
            <span class="date">{{ response.date|humanize_time_delta }}:</span>
            {{response.text}}
            </div>
        {% endfor %}
        
        {% if perms.logger_ng.respond and msg.is_incoming %}
            <div class="respond"><form action="/logger_ng" method="post">
                <input class="resp_box" name="respond_{{ msg.id }}" type="text" maxlength="140"/>
                <input type="submit" value="Respond" />
            </form></div>    
        {% endif %}
        
    {% empty %}
        <p>No message found<p>    
    {% endfor %}

</div>

<div class="lng_page span-18 last prepend-2">
<span>
        {% if msgs.has_previous %}
            <a href="?page={{ msgs.previous_page_number }}&amp;logger_ng_search_box={{ request.GET.logger_ng_search_box }}">&lt; Previous </a>
        {% endif %}
</span>
            Page {{ msgs.number }} of {{ msgs.paginator.num_pages }}
<span>
        {% if msgs.has_next %}
            <a href="?page={{ msgs.next_page_number }}&amp;logger_ng_search_box={{ request.GET.logger_ng_search_box }}"> Next &gt;</a>
        {% endif %}
</span>
</div>

{% endblock %}
